<template>
  <div class="col-full">
    <h1>Welcom to the Forum</h1>
    <ForumList :forums="forums" />
  </div>
</template>

<script>
import sourceData from "@/data";
import ForumList from "@/components/ForumList";

export default {
  components: { ForumList },
  props: {},
  data() {
    return {
      forums: Object.values(sourceData.forums),
      posts: sourceData.posts,
      users: sourceData.users,
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
