<template>
  <span :title="humanFriendlyDate(timestamp)"
    >{{ diffForHuman(timestamp) }}
  </span>
</template>
<script>
import moment from "moment";
export default {
  props: {
    timestamp: {
      required: true,
      type: Number,
    },
  },
  methods: {
    humanFriendlyDate(date) {
      return moment.unix(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    diffForHuman(date) {
      return moment.unix(date).fromNow();
    },
  },
};
</script>
