<template>
  <div class="forum-list">
    <h2 class="list-title">
      <a href="category.html">Feedback & Information</a>
    </h2>

    <ForumListItem
      v-for="forum in forums"
      :forum="forum"
      :key="forum['.key']"
    />
  </div>
</template>
<script>
import ForumListItem from "./ForumListItem";
export default {
  props: { forums: { required: true, type: Array } },
  components: { ForumListItem },
  /*   data() {
    return {
      threads: Object.values(sourceData.threads),
      posts: sourceData.posts,
      users: sourceData.users,
    };
  }, */
};
</script>
